.daena-port
.autonomy_mode.json
.llama-server.pid
.file_change_proposals/
.file_change_backups/
.tmp_apply_test/
.trust_ladder.json
.trust_policy.json
.routine_autonomy.json
.opportunity_seed.json
.opportunity_sources.json
.send_rate_limit.json
.recipient_suppression.json
